/*----------------header section--------*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bg-image {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-image: url("./assets/hero-bg.jpg");
}

.image-overlay {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(5, 26, 34, 0.97);
}

.hero-img {
  width: 50%;
  height: 100vh;
}

.hero-details {
  color: aliceblue;
  margin: auto;
}

.hero-heading {
  font-weight: 600;
}

.hero-intro {
  font-size: small;
}

.herobutton {
  background-color: white;
  color: black;

  border-radius: 25px;
  font-size: smaller;
  margin-right: 100%;
  padding: 5px 10px 5px 10px;
}

.herobutton:hover {
  background-color: rgb(119, 227, 119);
  color: white;
}
/*
.navbar-nav {
  padding-right: 150px;
}

.navbar-brand {
  padding-left: 200px;
}
*/

.wrapper {
  margin: 20px auto;
  width: 50%;
}

.home {
  color: rgb(119, 227, 119);
  font-size: small;
}
.home:hover {
  color: rgb(119, 227, 119);
}

.courses {
  color: white;
  font-size: small;
}
.courses:hover {
  color: rgb(119, 227, 119);
}

.mentors {
  color: white;
  font-size: small;
}
.mentors:hover {
  color: rgb(119, 227, 119);
}
.blog {
  color: white;
  font-size: small;
}
.blog:hover {
  color: rgb(119, 227, 119);
}
.contact {
  color: white;
  font-size: small;
}
.contact:hover {
  color: rgb(119, 227, 119);
}

.navbutton {
  background-color: rgb(119, 227, 119);
  color: white;
  border-radius: 25px;
  margin: 2px;
  font-size: small;
  position: relative;
}

.navbutton:hover {
  background-color: rgb(119, 227, 119);
  color: rgb(119, 227, 119);
}

/*----- background sliding on navbutton during  hover------*/
.navbutton.navbtn-slide::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  border-radius: 5px;
  background-color: rgb(56, 215, 56);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 500ms ease-in-out;
}

.navbutton.navbtn-slide:hover::before,
.navbutton.navbtn-slide:focus::before {
  border-radius: 5px;
  transform: scaleX(1);
}

.navbutton.navbtn-slide {
  border-radius: 5px;
  z-index: 1;
}
.navbutton.navbtn-slide:hover,
.navbutton.navbtn-slide:focus {
  border-radius: 5px;
  color: white;
}

/*navbar bg colour changing class*/
.bgcolor {
  background-color: white;
}

.new-wrapper {
  margin: 0px auto;
  width: 100%;
  background-color: white;
}
.new-color {
  color: black;
  margin-right: 50px;
  font-size: 15px;
}

.new-brand {
  color: rgb(119, 227, 119);
  margin-left: 50px;
  font-size: 20px;
  font-weight: bold;
}

.new-toggler {
  color: rgb(119, 227, 119);
}
/*
@media only screen and (max-width: 768px) {
  .hero-img {
    display: none;
  }

  .wrapper {
    margin: 0 auto;
    width: 90%;
  }
}
/*
@media only screen and (max-width: 1024px) {
  .wrapper {
    margin: 0 auto;
    width: 45%;
  }
}*/

/*----------------LEARN NEW SKILLS---------------------------*/
body {
  background-color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.section-heading {
  text-align: center;
  font-weight: bolder;
}

.section-intro {
  text-align: center;
}

.course-heading {
  text-align: center;
}

.course-details {
  text-align: center;
}
.skill > .row {
  text-align: center;
}
.learn,
.collection,
.instructors {
  background-color: whitesmoke;
}

.learn:hover {
  background-color: whitesmoke;
  box-shadow: 2px 10px 50px 5px rgb(212, 211, 211);
}
.collection:hover {
  background-color: whitesmoke;
  box-shadow: 2px 10px 50px 5px rgb(212, 211, 211);
}
.instructors:hover {
  background-color: whitesmoke;
  box-shadow: 2px 10px 50px 5px rgb(212, 211, 211);
}

/*h1 {
  font-weight: bolder;
}*/

.skill-icon {
  margin: 10px;
}

.skill-heading {
  margin: 15px;
  font-weight: bold;
}
.skill-details {
  font-size: smaller;
}

/*------------POPULAR COURSES-------------*/
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: white;
}

.course-row {
  justify-items: center;
  background-color: rgb(243, 237, 237);
}

.course-heading {
  text-align: center;
  font-weight: bold;
}

.course-details {
  text-align: center;
  font-size: small;
}

.card {
  border: none;
}

.card-img-top:hover {
  transform: scale(1.05);
}

.card-icons {
  justify-content: space-between;
}

.bi {
  padding: 10px;
  size: 50%;
}

.card-icons > i {
  font-style: normal;
}

.full-stack,
.design,
.JS,
.business,
.marketing,
.python {
  background-color: white;
  justify-content: center;
}

.full-stack:hover {
  background-color: whitesmoke;
  box-shadow: 2px 10px 50px 5px rgb(212, 211, 211);
}
.design:hover {
  background-color: whitesmoke;
  box-shadow: 2px 10px 50px 5px rgb(212, 211, 211);
}
.JS:hover {
  background-color: whitesmoke;
  box-shadow: 2px 10px 50px 5px rgb(212, 211, 211);
}
.business:hover {
  background-color: whitesmoke;
  box-shadow: 2px 10px 50px 5px rgb(212, 211, 211);
}
.marketing:hover {
  background-color: whitesmoke;
  box-shadow: 2px 10px 50px 5px rgb(212, 211, 211);
}
.python:hover {
  background-color: whitesmoke;
  box-shadow: 2px 10px 50px 5px rgb(212, 211, 211);
}

.coursebutton {
  color: black;
  font-size: smaller;
  padding: 15px 20px 15px 20px;

  border-radius: 35px;
}

.coursebutton:hover {
  background-color: white;
  color: rgb(8, 141, 8);
}
/*----------WELCOME TO ONLINE LEARNING --------*/

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: white;
}

.welcome-row {
  padding: 30px;
  align-items: center;
  justify-content: center;
}

.welcome-heading {
  font-weight: bold;
}

.welcome-details {
  font-size: small;
}

.welcome-link a {
  padding-top: 20px;
  color: rgb(41, 143, 41);
  text-decoration: none;
}

.welcome-link i {
  color: rgb(41, 143, 41);
  text-decoration: underline;
  text-decoration-color: rgb(41, 143, 41);
  transition-duration: 1s;
  transition-property: all;
  transition-timing-function: linear;
}

.welcome-link i:hover {
  color: rgb(41, 143, 41);
  transform: rotate(45deg);
}

/*------TOP CATEGORIES-----------*/

.category-heading {
  font-weight: bold;
}

.category-details {
  font-size: small;
}

.category-row {
  background-color: rgb(249, 248, 247);
}

.category-col {
  margin: 5px;
  padding: 10px;
  padding-bottom: 25px;
  background-color: white;
}

.category-col:hover {
  background-color: whitesmoke;
  box-shadow: 2px 10px 50px 1px rgb(230, 228, 228);
}

.categorybtn {
  color: black;
  font-size: smaller;
  padding: 15px 20px 15px 20px;

  border-radius: 35px;
}

.categorybtn:hover {
  background-color: white;
  color: rgb(8, 141, 8);
}

/*---What Makes Us Different? ---*/
.container-fluid {
  position: relative;
}
.speciality-1 {
  overflow: hidden;

  display: block;
  max-width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
}
/*
.playbutton {
  color: orange;

  font-size: 105px;

  position: absolute;
}
*/
.speciality-heading {
  font-weight: bold;
}

.speciality-details {
  font-size: medium;
}

.speciality-2 {
  align-items: center;
  justify-content: center;
  align-content: center;
}

.sub-row-icon {
  font-size: 25px;
  align-self: center;
  box-shadow: -1px 5px 5px rgb(226, 221, 221);
  border-radius: 50%;
}

.sub-row-1 {
  align-content: flex-start;
}

.sub-row-heading {
  font-weight: bold;
}

.sub-row-details {
  font-size: small;
}

/* -------------our expert instructors------------ */
.faculty-intro {
  margin: 0px auto;
  width: 40%;
  margin-top: 10px;
}
.faculty-intro h1 {
  font-weight: bolder;
}

.faculty-intro p {
  font-size: small;
}

.faculty-panel {
  margin: 0 auto;
  width: 90%;
}

.faculty-card {
  overflow: hidden;
  width: 15rem;
  height: auto;
  transition: 200ms;
  position: relative;
}

.dropup-content {
  position: absolute;
  background-color: #f1f1f1;
  border-left-style: solid;
  border-left-color: rgb(119, 221, 119);
  bottom: 0;
  width: 40px;
  height: 0px;
  padding: 0px;
  overflow: hidden;
  transition: 700ms;
}

.faculty-card:hover .dropup-content {
  height: 100px;
  transition: 700ms;
}

.dropup-link {
  color: black;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  display: block;
}
.faculty-card-body {
  margin: 10px;
  text-align: center;
}

.faculty-name {
  font-weight: bold;
}

.dropup-link:hover {
  color: rgb(119, 221, 119);
}
/* ----------CAROUSEL------------ */

.carousel {
  height: 500px;
  width: 50%;
  margin: 0 auto;
}

.carousel h1 {
  text-align: center;
  margin: 15px;
  padding: 10px;
  font-weight: bolder;
}

.carousel-details {
  width: 100%;
  height: 100%;
  object-fit: cover;
  text-align: center;
}
.carousel-details h3 {
  font-weight: 600;
  font-size: x-large;
}

.carousel-details h5 {
  font-size: large;
}

.carousel-details p {
  font-size: small;
}

.carousel-track-container {
  height: 40%;
  position: relative;
  overflow: hidden;
}

.carousel-track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: tranform 300ms ease-in;
}

.carousel-slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.button-group {
  text-align: center;
}

.carousel-nav {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  margin-bottom: 25px;
}
.carousel-indicator {
  border: 0;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  margin: 0 20px;
  background-image: url("./assets/testimonial-2.png");
}

.carousel-indicator.current-slide {
  transform: scale(1.5);
}

.carousel-button {
  width: 30px;
  height: 30px;
  border: none;
  background-color: bisque;
}

.carousel-button:hover {
  color: white;
  background-color: rgb(119, 221, 119);
}

@media only screen and (max-width: 600px) {
  .carousel-indicator {
    text-align: start;
    border: 0;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin: 0 auto;
    overflow: hidden;

    background-image: url("./assets/testimonial-2.png");
  }
  .carousel {
    height: 500px;
    width: 50%;
    margin: 0 auto;
  }
}
/*---------------blog----------*/
.blog-card {
  margin-top: 15px;
  margin-bottom: 10px;
  overflow: hidden;
}

.blog-heading {
  margin: 0;
  width: 50%;
  text-align: start;
  font-weight: bolder;
}

.blog-details {
  margin: 0;
  width: 50%;
  text-align: start;
  font-size: small;
}

.blog-card-heading {
  font-weight: bolder;
  font-size: medium;
}

.blog-card-details {
  font-size: small;
}

.blog-image {
  transition: all 300ms;
  overflow: hidden;
}
.blog-image:hover {
  transform: scale(1.05);
}

/*-------------------contact us----------------------------------*/
.contact-us-container {
  background-image: url("https://cdn.hovia.com/app/uploads/grey-abstract-world-map-mural-Plain-820x532.jpg");
  background-position: center;
  background-size: cover;

  text-align: start;
}

.contact-us-wrap {
  margin: 0 auto;
  width: 90%;
}
.contact-info-wrap {
  margin: 0 auto;
  width: 50%;
  text-align: start;
}
.contact-info-heading {
  font-weight: bolder;
}
.contact-info-details {
  font-size: small;
}

.hotline {
  font-weight: bolder;
}
.form-wrap {
  margin: 0 auto;
  width: 75%;
  text-align: end;
}

.form-name,
.form-email,
.form-subject,
.form-message,
.form-button {
  font-size: small;
}

.form-message {
  height: 8em;
}

.form-button {
  border-radius: 5px;
  background-color: rgb(119, 227, 119);
  color: white;
  padding: 5px 15px 5px 15px;
  font-size: small;
  position: relative;
}
.form-button:hover {
  background-color: rgb(119, 227, 119);
}

/*----- background sliding on hover(form button)------*/
.form-button.formbtn-slide::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  border-radius: 5px;
  background-color: rgb(56, 215, 56);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 500ms ease-in-out;
}

.form-button.formbtn-slide:hover::before,
.form-button.formbtn-slide:focus::before {
  border-radius: 5px;
  transform: scaleX(1);
}

.form-button.formbtn-slide {
  border-radius: 5px;
  z-index: 1;
}
.form-button.formbtn-slide:hover,
.form-button.formbtn-slide:focus {
  border-radius: 5px;
  color: white;
}

/*-------------Footer----------*/

.footer-wrap {
  margin: 0 auto;
  width: 100%;
}

.footdtl-wrap {
  margin: 15px 0;
  width: 75%;
  text-align: start;
}

.footer-details {
  font-size: small;
}

.Quicklink-footer {
  margin-left: 100px;
}

.Quicklink-list,
.Course-list,
.Connect-list {
  font-size: small;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  margin-bottom: 20px;
}

.footer-subtitle {
  font-weight: 600;
}

.Quicklink-list a {
  text-decoration: none;
  color: black;
}
.Course-list a {
  text-decoration: none;
  color: black;
}

.Connect-list li {
  margin-top: 10px;
}

.Quicklink-list li {
  margin-top: 10px;
}
.Course-list li {
  margin-top: 10px;
}

.footer-copyright {
  padding: 10px;
}

.footer-socialmedia {
  text-align: end;
}

.footer-icon {
  color: black;
}

.footer-icon:hover {
  color: rgb(119, 227, 119);
}

/*------------------MEDIA QUERY------------------------*/

@media only screen and (max-width: 1024px) {
  .hero-img {
    display: none;
  }
  .wrapper {
    margin: 0 auto;
    width: 90%;
  }
}

@media only screen and (max-width: 1000px) {
  .contact-us-container {
    background-image: none;
  }

  .contact-us-wrap {
    margin: 0 auto;
    width: 100%;
  }
  .contact-info-wrap {
    margin: 0 auto;
    width: 100%;
    margin-bottom: 3rem;
  }
  .form-wrap {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 3em;
  }

  /*------footer-------*/

  .footdtl-wrap {
    margin: 0 auto;
    width: 100%;
  }

  .Quicklink-footer {
    margin-left: 0;
  }

  .footer-copyright {
    text-align: center;
  }

  .footer-socialmedia {
    text-align: center;
    margin-bottom: 5rem;
  }
}
