/*----------------header section--------*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bg-image {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-image: url("./assets/hero-bg.jpg");
}

.image-overlay {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(5, 26, 34, 0.97);
}

.hero-img {
  width: 50%;
  height: 100vh;
}

.hero-details {
  color: aliceblue;
  margin: auto;
}

.hero-heading {
  font-weight: 600;
}

.hero-intro {
  font-size: small;
}

.herobutton {
  background-color: white;
  color: black;

  border-radius: 25px;
  font-size: smaller;
  margin-right: 100%;
  padding: 5px 10px 5px 10px;
}

.herobutton:hover {
  background-color: rgb(119, 227, 119);
  color: white;
}
/*
.navbar-nav {
  padding-right: 150px;
}

.navbar-brand {
  padding-left: 200px;
}
*/

.wrapper {
  margin: 20px auto;
  width: 50%;
}

.home {
  color: rgb(119, 227, 119);
  font-size: small;
}
.home:hover {
  color: rgb(119, 227, 119);
}

.courses {
  color: white;
  font-size: small;
}
.courses:hover {
  color: rgb(119, 227, 119);
}

.mentors {
  color: white;
  font-size: small;
}
.mentors:hover {
  color: rgb(119, 227, 119);
}
.blog {
  color: white;
  font-size: small;
}
.blog:hover {
  color: rgb(119, 227, 119);
}
.contact {
  color: white;
  font-size: small;
}
.contact:hover {
  color: rgb(119, 227, 119);
}

.navbutton {
  background-color: rgb(119, 227, 119);
  color: white;
  border-radius: 25px;
  margin: 2px;
  font-size: small;
  position: relative;
}

.navbutton:hover {
  background-color: rgb(119, 227, 119);
  color: rgb(119, 227, 119);
}

/*----- background sliding on navbutton during  hover------*/
.navbutton.navbtn-slide::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  border-radius: 5px;
  background-color: rgb(56, 215, 56);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 500ms ease-in-out;
}

.navbutton.navbtn-slide:hover::before,
.navbutton.navbtn-slide:focus::before {
  border-radius: 5px;
  transform: scaleX(1);
}

.navbutton.navbtn-slide {
  border-radius: 5px;
  z-index: 1;
}
.navbutton.navbtn-slide:hover,
.navbutton.navbtn-slide:focus {
  border-radius: 5px;
  color: white;
}

/*navbar bg colour changing class*/
.bgcolor {
  background-color: white;
}

.new-wrapper {
  margin: 0px auto;
  width: 100%;
  background-color: white;
}
.new-color {
  color: black;
  margin-right: 50px;
  font-size: 15px;
}

.new-brand {
  color: rgb(119, 227, 119);
  margin-left: 50px;
  font-size: 20px;
  font-weight: bold;
}

.new-toggler {
  color: rgb(119, 227, 119);
}
/*
@media only screen and (max-width: 768px) {
  .hero-img {
    display: none;
  }

  .wrapper {
    margin: 0 auto;
    width: 90%;
  }
}
/*
@media only screen and (max-width: 1024px) {
  .wrapper {
    margin: 0 auto;
    width: 45%;
  }
}*/

@media only screen and (max-width: 1024px) {
  .hero-img {
    display: none;
  }
  .wrapper {
    margin: 0 auto;
    width: 90%;
  }
}

/*----------------LEARN NEW SKILLS---------------------------*/
body {
  background-color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.section-heading {
  text-align: center;
  font-weight: bolder;
}

.section-intro {
  text-align: center;
}

.course-heading {
  text-align: center;
}

.course-details {
  text-align: center;
}
.skill > .row {
  text-align: center;
}
.learn,
.collection,
.instructors {
  background-color: whitesmoke;
}

.learn:hover {
  background-color: whitesmoke;
  box-shadow: 2px 10px 50px 5px rgb(212, 211, 211);
}
.collection:hover {
  background-color: whitesmoke;
  box-shadow: 2px 10px 50px 5px rgb(212, 211, 211);
}
.instructors:hover {
  background-color: whitesmoke;
  box-shadow: 2px 10px 50px 5px rgb(212, 211, 211);
}

/*h1 {
  font-weight: bolder;
}*/

.skill-icon {
  margin: 10px;
}

.skill-heading {
  margin: 15px;
  font-weight: bold;
}
.skill-details {
  font-size: smaller;
}

/*------------POPULAR COURSES-------------*/
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: white;
}

.course-row {
  justify-items: center;
  background-color: rgb(243, 237, 237);
}

.course-heading {
  text-align: center;
  font-weight: bold;
}

.course-details {
  text-align: center;
  font-size: small;
}

.card {
  border: none;
}

.card-img-top:hover {
  transform: scale(1.05);
}

.card-icons {
  justify-content: space-between;
}

.bi {
  padding: 10px;
  size: 50%;
}

.card-icons > i {
  font-style: normal;
}

.full-stack,
.design,
.JS,
.business,
.marketing,
.python {
  background-color: white;
  justify-content: center;
}

.full-stack:hover {
  background-color: whitesmoke;
  box-shadow: 2px 10px 50px 5px rgb(212, 211, 211);
}
.design:hover {
  background-color: whitesmoke;
  box-shadow: 2px 10px 50px 5px rgb(212, 211, 211);
}
.JS:hover {
  background-color: whitesmoke;
  box-shadow: 2px 10px 50px 5px rgb(212, 211, 211);
}
.business:hover {
  background-color: whitesmoke;
  box-shadow: 2px 10px 50px 5px rgb(212, 211, 211);
}
.marketing:hover {
  background-color: whitesmoke;
  box-shadow: 2px 10px 50px 5px rgb(212, 211, 211);
}
.python:hover {
  background-color: whitesmoke;
  box-shadow: 2px 10px 50px 5px rgb(212, 211, 211);
}

.coursebutton {
  color: black;
  font-size: smaller;
  padding: 15px 20px 15px 20px;

  border-radius: 35px;
}

.coursebutton:hover {
  background-color: white;
  color: rgb(8, 141, 8);
}
/*----------WELCOME TO ONLINE LEARNING --------*/

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: white;
}

.welcome-row {
  padding: 30px;
  align-items: center;
  justify-content: center;
}

.welcome-heading {
  font-weight: bold;
}

.welcome-details {
  font-size: small;
}

.welcome-link a {
  padding-top: 20px;
  color: rgb(41, 143, 41);
  text-decoration: none;
}

.welcome-link i {
  color: rgb(41, 143, 41);
  text-decoration: underline;
  text-decoration-color: rgb(41, 143, 41);
  transition-duration: 1s;
  transition-property: all;
  transition-timing-function: linear;
}

.welcome-link i:hover {
  color: rgb(41, 143, 41);
  transform: rotate(45deg);
}

/*------TOP CATEGORIES-----------*/

.category-heading {
  font-weight: bold;
}

.category-details {
  font-size: small;
}

.category-row {
  background-color: rgb(249, 248, 247);
}

.category-col {
  margin: 5px;
  padding: 10px;
  padding-bottom: 25px;
  background-color: white;
}

.category-col:hover {
  background-color: whitesmoke;
  box-shadow: 2px 10px 50px 1px rgb(230, 228, 228);
}

.categorybtn {
  color: black;
  font-size: smaller;
  padding: 15px 20px 15px 20px;

  border-radius: 35px;
}

.categorybtn:hover {
  background-color: white;
  color: rgb(8, 141, 8);
}

/*---What Makes Us Different? ---*/
.container-fluid {
  position: relative;
}
.speciality-1 {
  overflow: hidden;

  display: block;
  max-width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
}
/*
.playbutton {
  color: orange;

  font-size: 105px;

  position: absolute;
}
*/
.speciality-heading {
  font-weight: bold;
}

.speciality-details {
  font-size: medium;
}

.speciality-2 {
  align-items: center;
  justify-content: center;
  align-content: center;
}

.sub-row-icon {
  font-size: 25px;
  align-self: center;
  box-shadow: -1px 5px 5px rgb(226, 221, 221);
  border-radius: 50%;
}

.sub-row-1 {
  align-content: flex-start;
}

.sub-row-heading {
  font-weight: bold;
}

.sub-row-details {
  font-size: medium;
}

/*---------------blog----------*/
.blog-card {
  margin-top: 15px;
  margin-bottom: 10px;
  overflow: hidden;
}

.blog-heading {
  margin: 0;
  width: 50%;
  text-align: start;
  font-weight: bolder;
}

.blog-details {
  margin: 0;
  width: 50%;
  text-align: start;
  font-size: small;
}

.blog-card-heading {
  font-weight: bolder;
  font-size: medium;
}

.blog-card-details {
  font-size: small;
}

.blog-image {
  transition: all 300ms;
  overflow: hidden;
}
.blog-image:hover {
  transform: scale(1.05);
}
