/*----------------header section--------*/

* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bg-image {
  display: block;
  max-width: 100%;
  height: auto;
}

.hero-bg {
  position: relative;
  display: block;
  max-width: 100%;
  height: auto;
}

.hero-bg::before {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: rgba(5, 26, 34, 0.95);
}

.hero-img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  max-width: 50%;
  height: auto;
}
/*
    .navbar-brand {
      margin-left: 250px;
    }
    
    .navbar-collapse {
      margin-right: 350px;
    }
    */
.hero-details {
  position: absolute;
  display: block;
  text-align: center;
  justify-items: center;
  align-items: center;
  bottom: 20%;
  right: 0;
  color: aliceblue;
  padding: 5px;
  font-size: small;
}
.hero-heading {
  font-weight: 600;
}

.hero-intro {
  font-size: small;
}

.herobutton {
  background-color: white;
  color: black;

  border-radius: 25px;
  font-size: smaller;
  margin-right: 100%;
  padding: 5px 10px 5px 10px;
}

.herobutton:hover {
  background-color: rgb(119, 227, 119);
  color: white;
}
.navbar-nav {
  padding-right: 200px;
}

.navbar-brand {
  padding-left: 200px;
}
.home {
  color: rgb(119, 227, 119);
  font-size: small;
}
.home:hover {
  color: rgb(119, 227, 119);
}

.courses {
  color: white;
  font-size: small;
}
.courses:hover {
  color: rgb(119, 227, 119);
}

.mentors {
  color: white;
  font-size: small;
}
.mentors:hover {
  color: rgb(119, 227, 119);
}
.blog {
  color: white;
  font-size: small;
}
.blog:hover {
  color: rgb(119, 227, 119);
}
.contact {
  color: white;
  font-size: small;
}
.contact:hover {
  color: rgb(119, 227, 119);
}

.navbutton {
  background-color: rgb(119, 227, 119);
  color: white;
  border-radius: 25px;
  margin: 2px;
  font-size: small;
}

@media only screen and (max-width: 578px) {
  .hero-img {
    display: none;
  }

  .hero-details {
    position: absolute;
    display: block;
    /*text-align: center;*/
    justify-items: center;
    align-items: center;
    bottom: 0%;
    right: 0;
    top: 10px;
    color: aliceblue;
    padding: 5px;
    font-size: small;
  }

  .hero-heading {
    font-size: large;
    text-align: center;
  }

  .hero-intro {
    font-size: smaller;
  }

  .navbar-brand {
    padding-left: 10px;
    font-size: 15px;
    font-weight: 400px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .herobutton {
    background-color: white;
    color: black;

    border-radius: 25px;
    font-size: 9px;
    margin-right: 100%;
    padding: 2px 5px 2px 5px;
  }

  .herobutton:hover {
    background-color: rgb(119, 227, 119);
    color: white;
  }
}

/*----------------LEARN NEW SKILLS---------------------------*/
body {
  background-color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.section-heading {
  text-align: center;
  font-weight: bolder;
}

.section-intro {
  text-align: center;
}

.course-heading {
  text-align: center;
}

.course-details {
  text-align: center;
}
.skill > .row {
  text-align: center;
}
.learn,
.collection,
.instructors {
  background-color: whitesmoke;
}

.learn:hover {
  background-color: whitesmoke;
  box-shadow: 2px 10px 50px 5px rgb(212, 211, 211);
}
.collection:hover {
  background-color: whitesmoke;
  box-shadow: 2px 10px 50px 5px rgb(212, 211, 211);
}
.instructors:hover {
  background-color: whitesmoke;
  box-shadow: 2px 10px 50px 5px rgb(212, 211, 211);
}

/*h1 {
  font-weight: bolder;
}*/

.skill-icon {
  margin: 10px;
}

.skill-heading {
  margin: 15px;
  font-weight: bold;
}
.skill-details {
  font-size: smaller;
}

/*------------POPULAR COURSES-------------*/
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: white;
}

.course-row {
  justify-items: center;
  background-color: rgb(243, 237, 237);
}

.course-heading {
  text-align: center;
  font-weight: bold;
}

.course-details {
  text-align: center;
  font-size: small;
}

.card {
  border: none;
}

.card-img-top:hover {
  transform: scale(1.05);
}

.card-icons {
  justify-content: space-between;
}

.bi {
  padding: 10px;
  size: 50%;
}

.card-icons > i {
  font-style: normal;
}

.full-stack,
.design,
.JS,
.business,
.marketing,
.python {
  background-color: white;
  justify-content: center;
}

.full-stack:hover {
  background-color: whitesmoke;
  box-shadow: 2px 10px 50px 5px rgb(212, 211, 211);
}
.design:hover {
  background-color: whitesmoke;
  box-shadow: 2px 10px 50px 5px rgb(212, 211, 211);
}
.JS:hover {
  background-color: whitesmoke;
  box-shadow: 2px 10px 50px 5px rgb(212, 211, 211);
}
.business:hover {
  background-color: whitesmoke;
  box-shadow: 2px 10px 50px 5px rgb(212, 211, 211);
}
.marketing:hover {
  background-color: whitesmoke;
  box-shadow: 2px 10px 50px 5px rgb(212, 211, 211);
}
.python:hover {
  background-color: whitesmoke;
  box-shadow: 2px 10px 50px 5px rgb(212, 211, 211);
}

.coursebutton {
  color: black;
  font-size: smaller;
  padding: 15px 20px 15px 20px;

  border-radius: 35px;
}

.coursebutton:hover {
  background-color: white;
  color: rgb(8, 141, 8);
}
/*----------WELCOME TO ONLINE LEARNING --------*/

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: white;
}

.welcome-row {
  padding: 30px;
  align-items: center;
  justify-content: center;
}

.welcome-heading {
  font-weight: bold;
}

.welcome-details {
  font-size: small;
}

.welcome-link a {
  padding-top: 20px;
  color: rgb(41, 143, 41);
  text-decoration: none;
}

.welcome-link i {
  color: rgb(41, 143, 41);
  text-decoration: underline;
  text-decoration-color: rgb(41, 143, 41);
  transition-duration: 1s;
  transition-property: all;
  transition-timing-function: linear;
}

.welcome-link i:hover {
  color: rgb(41, 143, 41);
  transform: rotate(45deg);
}

/*------TOP CATEGORIES-----------*/

.category-heading {
  font-weight: bold;
}

.category-details {
  font-size: small;
}

.category-row {
  background-color: rgb(249, 248, 247);
}

.category-col {
  margin: 5px;
  padding: 10px;
  padding-bottom: 25px;
  background-color: white;
}

.category-col:hover {
  background-color: whitesmoke;
  box-shadow: 2px 10px 50px 1px rgb(230, 228, 228);
}

.categorybtn {
  color: black;
  font-size: smaller;
  padding: 15px 20px 15px 20px;

  border-radius: 35px;
}

.categorybtn:hover {
  background-color: white;
  color: rgb(8, 141, 8);
}

/*---What Makes Us Different? ---*/
.container-fluid {
  position: relative;
}
.speciality-1 {
  overflow: hidden;

  display: block;
  max-width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
}
/*
.playbutton {
  color: orange;

  font-size: 105px;

  position: absolute;
}
*/
.speciality-heading {
  font-weight: bold;
}

.speciality-details {
  font-size: small;
}

.speciality-2 {
  align-items: center;
  justify-content: center;
  align-content: center;
}

.sub-row-icon {
  font-size: 25px;
  align-self: center;
  box-shadow: -1px 5px 5px rgb(226, 221, 221);
  border-radius: 50%;
}

.sub-row-1 {
  align-content: flex-start;
}
